.custom-bkg-color{
    background-color: #0f5588;
}
.custom-text-info{
    color: #0f5588;
}

.custom-btn-info{
    background: #0f5588;
}

.custom-text-secondary{
    color: #333333;
}

.custom-text-primary{
    color: #1C6E9D;
}

.custom-text-success{
    color: #28A745;
}